<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Clock Panda</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <base href="/"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body class="bg-gray-300 text-gray-700">
    <div class="flex items-center justify-center h-screen mx-auto unauthenticated">
        <a href="/oauth2/authorization/google">Login with Google</a>
    </div>
    <div class="flex items-center justify-center h-screen authenticated" style="display:none">
        <div class="relative bg-gray-50 p-8 rounded-lg shadow-md w-3/4 max-w-5xl">
            <a href="#" class="absolute top-0 right-0 p-2 text-blue-500 hover:text-blue-700" onClick="logout()">Logout</a>
            <h1 class="text-2xl font-semibold mb-4">Your Settings</h1>
            <form id="preferences-form">
                <div class="flex divide-x divide-solid">
                    <div class="w-1/3 p-2">
                        <div class="mb-4">
                            <label class="block text-sm font-medium">Preferred Timezone</label>
                            <select class="mt-1 p-2 w-full border rounded-md bg-white" id="preferred_time_zone" name="preferred_time_zone">
                                <option selected>Please select timezone</option>
                                <option th:each="timeZone : ${availableTimeZones}" th:value="${timeZone}" th:text="${timeZone}"></option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="block text-sm font-medium">Working Hours</label>
                            <th:block th:each="dayOfWeek : ${availableDays}">
                                <label class="block text-xs text-gray-500" th:text="${#strings.toLowerCase(dayOfWeek)}"></label>
                                <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" th:id="${dayOfWeek} + '_start'" th:name="${dayOfWeek} + '_start'">
                                    <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                                </select>
                                <label class="label text-xs text-gray-500">until</label>
                                <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" th:id="${dayOfWeek} + '_end'" th:name="${dayOfWeek} + '_end'">
                                    <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                                </select>
                            </th:block>
                        </div>
                        <div class="mb-4">
                            <label class="block text-sm font-medium">Focus Time</label>
                            <label class="block text-xs text-gray-500">Target (in hours)</label>
                            <input type="number" id="focus_time" name="focus_time" class="mt-1 p-2 w-full border rounded-md" placeholder="Enter focus time e.g. 10">
                            <label class="block text-xs text-gray-500">Preferred focus time range (min 2 hours)</label>
                            <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" id="preferred_focus_time_range_start" name="preferred_focus_time_range_start">
                                <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                            </select>
                            <label class="label text-xs text-gray-500">until</label>
                            <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" id="preferred_focus_time_range_end" name="preferred_focus_time_range_end">
                                <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                            </select>
                        </div>
                        <input type="hidden" id="email" name="email"/>
                        <div class="flex justify-center">
                            <button type="button" id="submit_button" class="w-96 bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" onClick="savePreferences()">
                                Save Preferences
                            </button>
                        </div>
                    </div>
                    <div class="w-2/3 p-2">
                        <div class="mb-4">
                            <label class="block text-sm font-medium">
                                Task List -
                                <a href="#" class="text-blue-500 text-xs hover:text-blue-700" onClick="openSaveTaskModal('add', null)">
                                    Add Task
                                </a>
                            </label>
                            <ul id="task_list"></ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="task_modal" class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-10" style="display:none;">
        <div class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-xl bg-white">
            <div class="w-full">
                <div class="max-w-4xl mx-auto p-4">
                    <div class="mb-8">
                        <h1 id="task_modal_title" class="mb-4 text-2xl font-extrabold">Add Task</h1>
                        <div class="divide-y divide-solid">
                            <div class="mb-4 p-2">
                                <label class="block text-sm font-medium">Name</label>
                                <input type="text" id="modal_task_name" name="modal_task_name" class="mt-1 p-2 w-full border rounded-md" placeholder="e.g. Do taxes">
                            </div>
                            <div class="mb-4 p-2">
                                <label class="block text-sm font-medium">Task settings</label>
                                <div id="modal_one_off_task_properties" class="py-2">
                                    <input type="hidden" id="modal_one_off_task_id" name="modal_one_off_task_id"/>
                                    <input type="hidden" id="modal_one_off_task_created_at" name="modal_one_off_task_created_at"/>
                                    <label class="block text-xs text-gray-500">Duration (in minutes)</label>
                                    <input type="number" id="modal_one_off_task_duration" name="modal_one_off_task_duration" class="mt-1 p-2 w-full border rounded-md" placeholder="e.g. 120">
                                    <label class="block text-xs text-gray-500 mt-1">Preferred time range</label>
                                    <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" id="modal_one_off_task_time_range_start" name="modal_one_off_task_time_range_start">
                                        <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                                    </select>
                                    <label class="label text-xs text-gray-500">until</label>
                                    <select class="mt-1 p-2 w-1/3 border rounded-md bg-white" id="modal_one_off_task_time_range_end" name="modal_one_off_task_time_range_end">
                                        <option th:each="availableTime : ${availableTimes}" th:text="${availableTime}" th:value="${availableTime}"></option>
                                    </select>
                                    <div class="mt-2">
                                        <label class="text-xs text-gray-500">
                                            <input type="checkbox" id="modal_one_off_task_is_time_range_strict" name="modal_one_off_task_is_time_range_strict">
                                            is time range strict?
                                        </label>
                                        <label class="text-xs text-gray-500 ml-2">
                                            <input type="checkbox" id="modal_one_off_task_is_high_priority" name="modal_one_off_task_is_high_priority">
                                            is high priority?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center p-2">
                            <button type="button" id="modal_task_add_button" class="w-1/3 bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 mr-2" onclick="saveTask()">
                                Save task
                            </button>
                            <button type="button" id="modal_task_close_button" class="w-1/3 bg-gray-500 text-white p-2 rounded-md hover:bg-gray-600" onclick="$('#task_modal').hide()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $.ajaxSetup({
          beforeSend : function(xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the CSRF token to relative URLs
                var header = $("meta[name='_csrf_header']").attr("content");
                var token = $("meta[name='_csrf']").attr("content");
                xhr.setRequestHeader(header, token);
              }
            }
          }
        });

        async function doAjax(url, method, params, errorMessage = "Unknown error. Please try again") {
            try {
                let result = await $.ajax({
                  url: url,
                  type: method,
                  dataType: 'json',
                  data: JSON.stringify(params),
                  contentType: 'application/json'
                });
                return result;
            } catch (error) {
                alert(errorMessage);
            }
        }

        $.get("/user", function(data) {
            $("#email").val(data.email);
            if (data.preferences == null) {
                $("#MONDAY_start").val("09:00");
                $("#MONDAY_end").val("17:00");
                $("#TUESDAY_start").val("09:00");
                $("#TUESDAY_end").val("17:00");
                $("#WEDNESDAY_start").val("09:00");
                $("#WEDNESDAY_end").val("17:00");
                $("#THURSDAY_start").val("09:00");
                $("#THURSDAY_end").val("17:00");
                $("#FRIDAY_start").val("09:00");
                $("#FRIDAY_end").val("17:00");
                $("#preferred_focus_time_range_start").val("09:00");
                $("#preferred_focus_time_range_end").val("17:00");
            } else {
                $("#preferred_time_zone").val(data.preferences.preferredTimeZone);
                $("#focus_time").val(data.preferences.targetFocusTimeHoursPerWeek);
                $.each(data.preferences.workingHours, function(dayOfWeek, workingHours) {
                    $("#" + dayOfWeek + "_start").val(workingHours[0].start);
                    $("#" + dayOfWeek + "_end").val(workingHours[0].end);
                });
                $("#preferred_focus_time_range_start").val(data.preferences.preferredFocusTimeRange.start);
                $("#preferred_focus_time_range_end").val(data.preferences.preferredFocusTimeRange.end);
            }
            $(".unauthenticated").hide();
            $(".authenticated").show();
        });

        var openSaveTaskModal = function(mode, task_id) {
            if (mode == 'add') {
                $("#task_modal_title").html("Add Task");
                $('#modal_one_off_task_id').val('');
                $('#modal_one_off_created_at').val('');
                $('#modal_task_name').val('');
                $('#modal_one_off_task_duration').val('');
                $('#modal_one_off_task_time_range_start').val('09:00');
                $('#modal_one_off_task_time_range_end').val('17:00');
                $('#modal_one_off_task_is_time_range_strict').prop('checked', false);
                $('#modal_one_off_task_is_high_priority').prop('checked', false);
            } else {
                let task = global_tasks.find(task => task.id == task_id);
                $("#task_modal_title").html("Edit Task");
                $('#modal_one_off_task_id').val(task_id);
                $('#modal_one_off_created_at').val(task.created_at);
                $('#modal_task_name').val(task.title);
                $('#modal_one_off_task_duration').val(task.metadata.oneOffTaskDurationInMinutes);
                $('#modal_one_off_task_time_range_start').val(task.metadata.timeRange.start);
                $('#modal_one_off_task_time_range_end').val(task.metadata.timeRange.end);
                $('#modal_one_off_task_is_time_range_strict').prop('checked', task.metadata.isTimeRangeStrict);
                $('#modal_one_off_task_is_high_priority').prop('checked', task.metadata.isHighPriority);
            }
            $('#task_modal').show();
        }

        var saveTask = async function() {
            let putPersonalTaskRequest = {
                id: $('#modal_one_off_task_id').val() == "" ? null : $('#modal_one_off_task_id').val(),
                email: $("#email").val(),
                title: $('#modal_task_name').val(),
                description: "",
                metadata: {
                    type: "OneOff",
                    oneOffTaskDurationInMinutes: $('#modal_one_off_task_duration').val(),
                    timeRange: {
                        start: $('#modal_one_off_task_time_range_start').val(),
                        end: $('#modal_one_off_task_time_range_end').val(),
                    },
                    isTimeRangeStrict: $('#modal_one_off_task_is_time_range_strict').is(":checked"),
                    isHighPriority: $('#modal_one_off_task_is_high_priority').is(":checked")
                },
                createdAt: $('#modal_one_off_task_created_at').val() == "" ? (new Date()).toISOString() : $('#modal_one_off_task_created_at').val()
            }
            await doAjax("/user/personalTask", "PUT", putPersonalTaskRequest)
            await refreshUserPersonalTasks();
            $('#task_modal').hide();
        }

        var deleteTask = async function(taskId) {
            let deletePersonalTaskRequest = {
                id: taskId
            }
            await doAjax("/user/personalTask", "DELETE", deletePersonalTaskRequest)
            refreshUserPersonalTasks();
        }

        var refreshUserPersonalTasks = async function() {
            var getPersonalTaskCardHtml = function(task) {
                let html = "<div class='flex flex-col'>";
                html += "<div class='text-m'>" + task.title + "</div>";
                html += "<div class='text-xs ml-2'>Duration: "+task.metadata.oneOffTaskDurationInMinutes+" minutes</div>";
                html += "<div class='text-xs ml-2'>Time range: "+task.metadata.timeRange.start+" until "+task.metadata.timeRange.end+"</div>";
                if (task.metadata.isTimeRangeStrict) {
                    html += "<div class='text-xs ml-2'>Time range is strict</div>";
                }
                if (task.metadata.isHighPriority) {
                    html += "<div class='text-xs ml-2'>High priority</div>";
                }
                if (task.metadata.currentScheduledAt) {
                    html += "<div class='text-xs ml-2'>Currently scheduled for: "+task.metadata.currentScheduledAt+"</div>";
                }
                html += "</div>";
                return html;
            }
            var getPersonalTaskActionHtml = function(task) {
                return "<div><a href='#' class='text-blue-500 text-xs hover:text-blue-700' onClick='openSaveTaskModal(\"edit\", \"" + task.id + "\")'>Edit</a><a href='#' class='text-blue-500 text-xs hover:text-blue-700 ml-2' onClick='deleteTask(\"" + task.id + "\")'>Delete</a></div>"
            }

            $.get("/user/personalTask", function(data) {
                $("#task_list").empty();
                global_tasks = data.userPersonalTasks
                $.each(data.userPersonalTasks, function(index, task) {
                    $("#task_list").append("<li class='flex justify-between items-center p-2 border-b border-gray-200'>" + getPersonalTaskCardHtml(task) + getPersonalTaskActionHtml(task) + "</li>")
                });
            });
        }
        refreshUserPersonalTasks();

        var logout = function() {
            $.post("/logout", function() {
                $("#email").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
            })
            return true;
        }

        var savePreferences = function() {
            if (!validatePreferredTimezone()) {
                return;
            }
            if (!validateWorkingHours()) {
                return;
            }
            if (!validateFocusTimeTarget()) {
                return;
            }
            if (!validatePreferredFocusTimeRange()) {
                return;
            }
            let putUserPreferencesRequest = {
                email: $("#email").val(),
                preferences: {
                    type: 1,
                    preferredTimeZone: $("#preferred_time_zone").val(),
                    workingHours: {
                        "MONDAY": [
                            {
                                start: $("#MONDAY_start").val(),
                                end: $("#MONDAY_end").val()
                            }
                        ],
                        "TUESDAY": [
                            {
                                start: $("#TUESDAY_start").val(),
                                end: $("#TUESDAY_end").val()
                            }
                        ],
                        "WEDNESDAY": [
                            {
                                start: $("#WEDNESDAY_start").val(),
                                end: $("#WEDNESDAY_end").val()
                            }
                        ],
                        "THURSDAY": [
                            {
                                start: $("#THURSDAY_start").val(),
                                end: $("#THURSDAY_end").val()
                            }
                        ],
                        "FRIDAY": [
                            {
                                start: $("#FRIDAY_start").val(),
                                end: $("#FRIDAY_end").val()
                            }
                        ],
                        "SATURDAY": [
                            {
                                start: $("#SATURDAY_start").val(),
                                end: $("#SATURDAY_end").val()
                            }
                        ],
                        "SUNDAY": [
                            {
                                start: $("#SUNDAY_start").val(),
                                end: $("#SUNDAY_end").val()
                            }
                        ]
                    },
                    targetFocusTimeHoursPerWeek: Number($("#focus_time").val()),
                    preferredFocusTimeRange: {
                        start: $("#preferred_focus_time_range_start").val(),
                        end: $("#preferred_focus_time_range_end").val()
                    }
                }
            };

            $("#submit_button").prop("disabled", true);
            $.ajax({
                url: "/user/preferences",
                type: "PUT",
                data: JSON.stringify(putUserPreferencesRequest),
                contentType: "application/json",
                success: function(data) {
                    alert("Preferences saved successfully")
                    $("#submit_button").prop("disabled", false);
                },
                error: function(data) {
                    alert("Error saving preferences")
                    $("#submit_button").prop("disabled", false);
                }
            });
        }

        var validatePreferredTimezone = function() {
            let preferredTimeZone = $("#preferred_time_zone").val()
            if (preferredTimeZone == "Please select timezone") {
                alert("Please select timezone")
                return false;
            }
            return true;
        }

        var validateWorkingHours = function() {
            let days = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"]
            var amountOfWorkingHours = 0
            for (let i = 0; i < days.length; i++) {
                let day = days[i]
                let start = $("#" + day + "_start").val()
                let end = $("#" + day + "_end").val()
                if (start > end) {
                    alert("Start time should be before end time for " + day)
                    return false;
                }
                amountOfWorkingHours += new Date("2023-01-01T" + end + "Z") - new Date("2023-01-01T" + start + "Z")
            }
            if (amountOfWorkingHours == 0) {
                alert("Total working hours should be greater than 0")
                return false;
            }

            return true;
        }

        var validateFocusTimeTarget = function() {
            let focusTime = Number($("#focus_time").val())
            if (isNaN(focusTime) || !Number.isInteger(focusTime)) {
                alert("Please enter focus time as a whole number e.g. 10")
                return false;
            }
            if (focusTime < 1) {
                alert("Focus time should be greater than 0")
                return false;
            }
            if (focusTime > 168) {
                alert("Focus time cannot be greater than 168")
                return false;
            }
            return true;
        }

        var validatePreferredFocusTimeRange = function() {
            let start = $("#preferred_focus_time_range_start").val()
            let end = $("#preferred_focus_time_range_end").val()
            let rangeAmount = new Date("2023-01-01T" + end + "Z") - new Date("2023-01-01T" + start + "Z")
            if (rangeAmount < 7200) {
                alert("Preferred focus time range should be at least 2 hours")
                return false;
            }
            if (start > end) {
                alert("Preferred focus time range start should be before end")
                return false;
            }
            return true;
        }
    </script>
</body>
</html>